.container {
    height: 100vh;
    background-color: white;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: 40vw;
    row-gap: 0;
    justify-content: center;
}

.centered-container {
    background-color: rgb(239, 232, 232);
    width: 40vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 35%;
    row-gap: 1%;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    overflow-y: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.centered-container::-webkit-scrollbar-track {
    border-bottom-right-radius: 9px;
}

.inputs-div {
    position: relative;
    margin-top: 20vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search {
    position: absolute;
    bottom: 0;
    width: 39.7vw;
    height: 30%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border: none;
    background-color: rgb(239, 232, 232);
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.input-search::placeholder {
    color: black;
    font-weight: bold;
}

.input-search:hover {
    opacity: 0.76;
    transition: 1s;
}

.hide {
    display: none;
}